<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgr.mapper.MenuMapper">


    <select id="selectMenuIdsByRoleIds" resultType="java.lang.Long" parameterType="list">
        select distinct menu_id
        from cp_role_menu
        where role_id in
        <foreach item="roleId" index="index" collection="roleIds"
                 open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>


    <select id="selectMenusByMenuIds" resultType="com.cgr.entity.CPMenu"
            parameterType="java.util.List">
        SELECT *
        FROM cp_menu
        WHERE id IN
        <foreach collection="menuIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>