<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgr.mapper.VehicleMapper">

    <select id="selectAll" resultType="com.cgr.entity.Vehicle">
        select vehicle.*, user.username as userName from vehicle
        left join cp_user user on vehicle.user_id = user.id
        <where>
            <if test="id != null"> and vehicle.id = #{id}</if>
            <if test="name != null"> and vehicle.name like concat('%', #{name}, '%')</if>
            <if test="userId != null"> and vehicle.user_id = #{userId}</if>
            <if test="userName != null"> and user.name like concat('%', #{userName}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.cgr.entity.Vehicle">
        select * from `vehicle`
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from `vehicle`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.cgr.entity.Vehicle" useGeneratedKeys="true" keyProperty="id">
        insert into `vehicle`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.cgr.entity.Vehicle">
        update `vehicle`
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>