<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgr.mapper.LocationMapper">

    <select id="selectAll" resultType="com.cgr.entity.Location">
        select location.* from location
        <where>
            <if test="id != null"> and location.id = #{id}</if>
            <if test="name != null"> and location.name like concat('%', #{name}, '%')</if>
            <if test="total != null"> and location.total = #{total}</if>
            <if test="num != null"> and location.num = #{num}</if>
        </where>
    </select>

    <select id="selectById" resultType="com.cgr.entity.Location">
        select * from `location`
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from `location`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.cgr.entity.Location" useGeneratedKeys="true" keyProperty="id">
        insert into `location`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="total != null">total,</if>
            <if test="num != null">num,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="total != null">#{total},</if>
            <if test="num != null">#{num},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.cgr.entity.Location">
        update `location`
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="total != null">
                total = #{total},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>