<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgr.mapper.ParkingMapper">

    <select id="selectAll" resultType="com.cgr.entity.Parking">
        select parking.*, username as userName, vehicle.name as vehicleName, location.name as locationName, parking_lot.name as parkingLotName from parking
        left join cp_user user on parking.user_id = user.id
        left join vehicle on parking.vehicle_id = vehicle.id
        left join location on parking.location_id = location.id
        left join parking_lot on parking.parking_lot_id = parking_lot.id
        <where>
            <if test="id != null"> and parking.id = #{id}</if>
            <if test="userId != null"> and parking.user_id = #{userId}</if>
            <if test="userName != null"> and user.username like concat('%', #{userName}, '%')</if>
            <if test="vehicleId != null"> and parking.vehicle_id like concat('%', #{vehicleId}, '%')</if>
            <if test="vehicleName != null"> and vehicle.name like concat('%', #{vehicleName}, '%')</if>
            <if test="locationId != null"> and parking.location_id = #{locationId}</if>
            <if test="locationName != null"> and location.name like concat('%', #{locationName}, '%')</if>
            <if test="parkingLotId != null"> and parking.parking_lot_id = #{parkingLotId}</if>
            <if test="parkingLotName != null"> and parking_lot.name like concat('%', #{parkingLotName}, '%')</if>
            <if test="startTime != null"> and parking.start_time like concat('%', #{startTime}, '%')</if>
            <if test="endTime != null"> and parking.end_time like concat('%', #{endTime}, '%')</if>
            <if test="status != null"> and parking.status like concat('%', #{status}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.cgr.entity.Parking">
        select * from `parking`
        where id = #{id}
    </select>



    <delete id="deleteById">
        delete from `parking`
        where id = #{id}
    </delete>

    <delete id="deleteByUserId">
        delete from `parking`
        where user_id = #{userId}
    </delete>

    <delete id="deleteBatch">
        delete from `parking`
        where id in
        <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.cgr.entity.Parking" useGeneratedKeys="true" keyProperty="id">
        insert into `parking`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="vehicleId != null">vehicle_id,</if>
            <if test="locationId != null">location_id,</if>
            <if test="parkingLotId != null">parking_lot_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="vehicleId != null">#{vehicleId},</if>
            <if test="locationId != null">#{locationId},</if>
            <if test="parkingLotId != null">#{parkingLotId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.cgr.entity.Parking">
        update `parking`
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="vehicleId != null">
                vehicle_id = #{vehicleId},
            </if>
            <if test="locationId != null">
                location_id = #{locationId},
            </if>
            <if test="parkingLotId != null">
                parking_lot_id = #{parkingLotId},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>