<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgr.mapper.ParkingLotMapper">

    <select id="selectAll" resultType="com.cgr.entity.ParkingLot">
        select parking_lot.*, location.name as locationName from parking_lot
        left join location on parking_lot.location_id = location.id
        <where>
            <if test="id != null"> and parking_lot.id = #{id}</if>
            <if test="name != null"> and parking_lot.name like concat('%', #{name}, '%')</if>
            <if test="locationId != null"> and parking_lot.location_id = #{locationId}</if>
            <if test="locationName != null"> and location.name like concat('%', #{locationName}, '%')</if>
            <if test="status != null"> and parking_lot.status like concat('%', #{status}, '%')</if>
        </where>
    </select>

    <select id="selectById" resultType="com.cgr.entity.ParkingLot">
        select * from `parking_lot`
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from `parking_lot`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.cgr.entity.ParkingLot" useGeneratedKeys="true" keyProperty="id">
        insert into `parking_lot`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="locationId != null">location_id,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="locationId != null">#{locationId},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.cgr.entity.ParkingLot">
        update `parking_lot`
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="locationId != null">
                location_id = #{locationId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id} 
    </update>

</mapper>